<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>在线打印平台</title>
<link href="css/left.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table width="189" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="images/menu_01.jpg" width="189" height="36" /></td>
  </tr>
  <tr>
    <td class="leftmenu"><ul id="navigation">
    	<li><a href="#">管理指南</a>
          
			<ul>
            	<li><a href="order/managerOrders" target="framemain">订单管理</a>
					<ul>
						<li></li>
					</ul>
				</li>
			</ul>
			<ul>
            	<li><a href="notice/managerNotice" target="framemain">公告管理</a>
					<ul>
						<li></li>
					</ul>
				</li>
			</ul>
			<ul>
				<li><a href="message/managerMessage" target="framemain">留言管理</a>
					<ul>
						<li></li>
					</ul>
				</li>
			</ul>
		</li>
      </ul></td>
  </tr>
</table>
</body>
</html>
