<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!--缓存配置-->
  <settings>
 	 <!-- 开启二级缓存 -->
    <setting name="cacheEnabled" value="true"/>
    <setting name="lazyLoadingEnabled" value="true"/>
    <setting name="aggressiveLazyLoading" value="false"/>
    <setting name="multipleResultSetsEnabled" value="true"/>
    <setting name="useColumnLabel" value="true"/>
    <!--  新增 --><!--使用jdbc的getGeneratedKeys获取数据库自增主键值  -->
    <setting name="useGeneratedKeys" value="false"/>
    <setting name="autoMappingBehavior" value="PARTIAL"/>
    <setting name="defaultExecutorType" value="SIMPLE"/>
    <setting name="defaultStatementTimeout" value="25000"/>
    <setting name="safeRowBoundsEnabled" value="false"/>
    
    <!-- 新增 开启驼峰命名转换：Table(create_time) -> Entity(createTime) -->
    <setting name="mapUnderscoreToCamelCase" value="false"/>
    <setting name="localCacheScope" value="SESSION"/>
    <setting name="jdbcTypeForNull" value="OTHER"/>
    <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
  </settings>    
  <typeAliases>
    <package name="com.neuedu.print.model"/>
    <package name="com.neuedu.print.dao"/>
  </typeAliases>
  <!--映射文件:无需描述,自动扫描,在applicationContext.xml中已经配置-->
</configuration>
